<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
  <h2>Reservation Page</h2>
  {% if user.is_authenticated %}
    <p>Vítaj, {{ user.username }}!</p>
  {% else %}
    <p>Musíš sa prihlásiť <a href="{% url 'login' %}">login</a> k vytvorení rezervácie.</p>
  {% endif %}

    <ul>
      <li><a href="{% url 'reservation_list' %}">Všetky rezervácie</a></li>
      <li><a href="{% url 'reservation_new' %}">Nová rezervácia</a></li>
      <li><a href="{% url 'reservation_detail' %}">Detail rezervacie</a></li>

    </ul>

{% endblock %}

</body>
</html>